go.work
go.work.sum
.DS_Store
.vscode
log/.DS_Store
.DS_Store
conf.toml
.idea
/auth/sqlc.yaml
# /auth/sql/
/auth/proto/auth_grpc.pb.go
/auth/proto/auth.pb.go
/auth/db/
/auth/sql/insert_oauth2_client.sql
/auth/bin/server
auth/main
